@model Doge.Areas.User.Models.DogePostForUser


<div class="card border-info">
    <img class="card-img-top"
         @{ string imgsrc = ""; if (Model.Post.DogeImage.URL.Length > 0) { imgsrc = Model.Post.DogeImage.URL; } else { var b64 = Convert.ToBase64String(Model.Post.DogeImage.Image); imgsrc = string.Format("data:image/jpg;base64,{0}", b64); } }
         src="@imgsrc">

    <div class="card-body">
        @{           

            bool fav = Model.WasFavorited;
            string _fav = fav.ToString().ToLower();
            string favText = "Favorite";
            string _favActive = "active";
            if (!fav)
            {
                favText = "Unfavorite";
                _favActive = "";
            }
        }
        <div class="text-center">
             
            <button type="button" class="btn btn-primary @_favActive"
                    data-toggle="button" aria-pressed="@_fav"
                    autocomplete="off"
                    asp-action="FavoritePostFromFav" asp-route-postId="@Model.Post.Id">

                @favText
            </button>

            <button type="button" class="btn btn-info">
                Share
            </button>

        </div>
    </div>
</div>
