@model  IEnumerable<Doge.Areas.User.Models.DogePostForUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="row">
            @foreach (var item in Model)
            {
               
                <div class="col-md-6 pb-3">
                    <partial name="_PostPartial"
                             model="@item" />
                </div>
            }
        </div>


    </div>
</div>