@model Doge.Models.DogeImage

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delet zis?</h3>
<div>
    <h4>DogeImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Pic
        </dt>
        <dd class="col-sm-10">
            <img class="card-img-top"
                 @{ string imgsrc = "";
                     if (Model.Image != null)
                     {
                         var b64 = Convert.ToBase64String(Model.Image);
                         imgsrc = string.Format("data:image/jpg;base64,{0}", b64);
                     }
                     else
                     {
                         imgsrc = Model.URL;
                     }
                  }
                 src="@imgsrc">
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" 
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@ViewData["PageIndex"]"
           >Back to List</a>
    </form>
</div>
